@media screen and (max-width:767px) {
    .header-container {
        display:none;
    }

    .header-responsive-logo {
        display:block;
    }

    .res-header-menu {
        display:block;
        display:flex;
    }

    .intro-explain {
        width:80%;
    }

    .introduction h1 {
        text-align:left;
    }

    .intro-explain-paspol {
        text-align:left;
    }

    .pro-contents-row {
        display:initial;
    }

    .pro-contents-row a {
        width:100%;
    }

    .pro-content {
        display:inline-flex;
    }

    .pro-content img {
        width:30%;
        height:30%;
    }

    .pro-content p {
        display:inline;
    }

    .news-container {
        width: 90%;
    }

    .news-content h2 {
        margin-top:0;
    }

    .share-container {
        width:80%;
    }

    .menu-container {
        width:70%;
    }

    .footer-logo-img {
        margin-left:35px;
        width:20%;
    }

    .footer-copy-right {
        margin-right:70px;
    }

    .share-container {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .line {
        display:block;
    }

    .btn {
        flex:none;
    }

    .date {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:479px) {
    .intro-explain {
        width:90%;
    }

    .intro-explain h1 {
        font-size:36px;
        margin-bottom: 31px;
    }

    .intro-explain-txt {
        font-size:15px;
        line-height:26px;
    }

    .intro-explain-paspol {
        font-size:24px;
        padding-left: 19px;
    }

    .start-kakko {
        top:-5px;
        left:-11px;
    }

    .end-kakko {
        bottom:11px;
        right:135px;
    }

    .article {
        display:none;
    }

    .news-content {
        display:initial;
    }

    .news-content h2 {
        margin-top: 10px;
    }

    .news-img {
        width:100%;
    }

    .menu-container {
        display:initial;
    }

    .menu-container a {
        display:block;
        text-align:center;
        border-top:1px solid white;
        padding-top:18px;
        padding-bottom:18px;
    }

    .footer-container {
        display:block;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-logo-img {
        margin-left:initial;
        width:44%;
        margin:auto;
        margin-bottom: 30px;
    }

    .footer-copy-right {
        width:88%;
        margin:auto;
        text-align:center;
        
    }

    .footer-copy-right p {
        font-size:8px;
        letter-spacing:1px;
        line-height: 19px;
    }

    .product-heading {
        display:initial;
    }

    .more-link {
        display:none;
    }

    
    .product-heading-left h1 {
        text-align:center;
        padding-top:60px;
    }

    .news-heading {
        display:initial;
    }

    .news-txt {
        width: 100%;
    }

    .news-heading-left h1 {
        text-align:center;
        padding-top:60px;
    }

    .product-container {
        width: 90%;
    }

    .pro-contents-row {
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
    }

    .pro-contents-row a {
        width:45%;
        flex:none;
    }

    .pro-content {
        display:initial;

    }

    .pro-content p {
        display:block;
        font-size:15px;
        width:85%;
        line-height: 26px;
        letter-spacing: 2px;
        margin: auto;
    }

    .pro-content img {
        width:100%;
        height:auto;
    }

    .res-more-link {
        text-align:center;
    }

    .res-more-link a {
        display:inline-block;
    }

    .share-container {
        width: 90%;
    }

    .btn {
        font-size:11px;
        width: 138px;
        margin: 37px 2px 9px 2px;
    }

    .hatena {
        margin-top:0;
        margin-bottom: 37px;
    }

    .line {
        margin-top:0;
        margin-bottom: 37px;
    }
}