* {
    box-sizing:border-box;
}
a {
    text-decoration:none;
}

body {
    margin:0;
    background-color:#f6f6f6;
}

/*headerのｃｓｓ*/

header {
    width:100%;
    height:auto;
    background-image:url(images/main_visual.jpg);
    background-size:cover;
    padding-top:50px;
    padding-bottom:430px;
    border-bottom-left-radius:400px 30px;
    border-bottom-right-radius:400px 30px;
}

.res-header-menu {
    width:100%;
    height:50px;
    position:absolute;
    top:0;
    background-color: #fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:35px;
    padding-right:35px;
    display:none;
}

.menu-icon {
    font-size:1.6em;
}

.header-logo {
    display:block;
    height:100%;
}

.header-container {
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header-container-right {
    margin-right:50px;
}

.header-container-left {
    margin-left:85px;
    width:260px;
    height:72px;
}

.header-responsive-logo {
    width:200px;
    margin:auto;
    margin-top:60px;
    display:none;
}

.header-responsive-logo img {
    width:100%;
}

.header-link {
    margin-right:40px;
    color:white;
    font-size:14px;
    padding-bottom: 3px;
}

.header-link:hover {
    border-bottom:1px solid white;
}

/*introductionのｃｓｓ*/

.introduction {
    width:100%;
    font-family:Helvetica;
    
}

.intro-explain {
    width:30%;
    margin:auto;
    padding-top:90px;
    padding-bottom:100px;
}

.intro-explain-txt {
    font-size:20px;
    line-height:34px;
}

.introduction h1 {
    font-weight:normal;
    font-size:44px;
    text-align:center;
    letter-spacing:4px;
    margin-bottom: 80px;
}

.intro-explain-paspol {
    font-size:36px;
    font-weight:bold;
    letter-spacing: 1px;
    text-align:center;
    position:relative;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top:21px;
    padding-bottom: 21px;
}

rt {
    font-size:12px;
    letter-spacing: -22px;
}

.start-kakko {
    font-weight:normal;
    position:absolute;
    top:7px;
    left:56px;
}

.end-kakko {
    font-weight:normal;
    position:absolute;
    bottom:7px;
    right:56px;
}

/*productのｃｓｓ*/

.product {
    background-color:#ffffff;
}

.product-container {
    width:64%;
    margin:auto;
    padding-bottom:80px;
}

.product-heading {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:100px;
}

.product-heading-left h1 {
    font-weight:normal;
}

.more-link {
    border:1px solid black;
    display:block;
    width:163px;
    height: 46px;
    color:#13191B;
    font-size:14px;
    text-align:center;
    padding-top: 12px;
}

.more-link:hover {
    color: white;
    background-color:black;
    transition:0.2s;
}

.res-more-link a {
    border:1px solid black;
    display:none;
    padding:15px 58px;
    color:#13191B;
    font-size:14px;
    margin-top:40px;
}

.pro-contents-row {
    display:flex;
    justify-content:space-around;
    margin-top:35px;
}

.pro-contents-row a {
    display:block;
    width:30%;
}

.pro-contents-row a:hover {
    opacity:0.7;
    transition:0.3s;
}

.pro-content img {
    width:100%;
}

.pro-content p {
    color:black;
    font-size:20px;
    line-height:34px;
    margin-left:30px;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: 3px;
}

/*newsのｃｓｓ*/

.news-container {
    width:64%;
    margin:auto;
    margin-bottom:90px;
}

.news-link {
    display:block;
    width:100%;
}

.news-heading {
    display:flex;
    justify-content:space-between;
    align-items:center; 
    margin-bottom:60px;
    padding-top: 86px;
}

.news-heading-left h1 {
    font-weight:normal;
    font-family: "Gill Sans Std Book", sans-serif;
    font-size:30px;
    letter-spacing: 1px;
}

.news-content {
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
    font-family: Helvetica;
}

.news-content:hover {
    opacity:0.7;
    transition:0.3s;
}

.news-content img {
    width:100%;
}

.news-img {
    width:40%;
}

.news-txt {
    width:56%;
    font-family:"Helvetica";
}

.news-content h2 {
    font-size:18px;
    line-height:31px;
    color:black;
    font-family: Helvetica;
    margin-top: 0;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: -7px;
}

.date {
    font-size:12px;
    line-height:20px;
    color:#656C6E;
    margin-top: 9px;
}

.article {
    font-size:13px;
    line-height:22px;
    color:#656C6E;
    font-family:Helvetica;
    letter-spacing: 1px;
}

/*footerのｃｓｓ*/

.share {
    background-color:white;
}

.share-container {
    width:45%;
    margin:auto;
    display:flex;
    justify-content:space-around;
}

.btn {
    display:block;
    width: 160px;
    height: 44px;
    font-size:13px;
    letter-spacing:1px;
    margin-top:30px;
    margin-bottom:30px;
    text-align: center;
    padding-top:13px
}

.facebook {
    border:1px solid #4871A9;
    color:#4871A9;
}

.facebook:hover {
    background-color:#4871A9;
    color:white;
    transition:0.2s;
}

.twitter {
    border:1px solid #70BDD3;
    color:#70BDD3;
}

.twitter:hover {
    background-color: #70BDD3;
    color:white;
    transition:0.2s;
}

.hatena {
    border:1px solid #2F9BCD;
    color:#2F9BCD;
}

.hatena:hover {
    background-color: #2F9BCD;
    color:white;
    transition:0.2s;
}

.line {
    border:1px solid #8ec09d;
    color:#8ec09d;
    display:none;
}

.line:hover {
    background-color: #8ec09d;
    color:white;
    transition:0.2s;
}

.menu {
    background-color:#939899;
}

.menu-container {
    width:35%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    padding-top:30px;
    padding-bottom:30px;
}

.menu-container a {
    display:inline-block;
    color:white;
    font-size:14px;
}

.menu-container a:hover {
    opacity:0.7;
    transition:0.2s;
}

.footer-container {
    width:100%;
    background-color:#656C6E;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:50px;
    padding-bottom:50px;
}

.footer-logo-img {
    height:90px;
    width:100px;
    margin-left:210px;
}

.footer-logo-img img {
    height:100%;
}

.footer-copy-right {
    margin-right:230px;
    letter-spacing: 1px;
}

.footer-copy-right p {
    font-size:10px;
    color:white;
}
